.tareas {
  margin-bottom: 0.5em;
}

.btn-danger {
  margin-left: 0.5em;
}
.card {
  background: rgb(37, 61, 61) !important;
  color: aliceblue !important;
}

.tareas {
  background: rgb(12, 78, 73) !important;
  color: rgb(192, 192, 192) !important;
}
